<section>
  <h4>Items</h4>
  <app-spinner *ngIf="isLoading"></app-spinner>
  <div *ngIf="!isLoading">
    <div class="list-group list-group-flush" *ngFor="let item of artWorks">
      <a class="list-group-item" [routerLink]="['/art-gallery', item.id]" routerLinkActive="active">  
        <h6>{{item.title}}</h6>
        <small>{{item.creator}}</small>
      </a>
    </div>
  </div>
  <ngb-pagination 
    [collectionSize]="numberOfItems"
    (pageChange)="onPageChange($event)"
    [maxSize]="5"
    [boundaryLinks]="true">
  </ngb-pagination>
</section>